$color__rojo: rgb(202, 22, 43);
$color__rojo-tenue: rgb(114, 34, 44);
$color__amarillo: rgb(255, 210, 0);
$color__azul:rgb(76, 118, 161);
$color__base--purpura:rgb(133, 33, 81);
$color__base--purpuraA: rgba(208, 94, 84, 0.5);
$color__base--verde:rgb(80, 163, 80);
$color__base--fiusha:rgb(193, 67, 109);
$color__base--negro:rgb(15, 12, 36);
$color__base--negromorado:rgb(31, 25, 65);
$color__blanco:rgb(236, 235, 243);
