---
import Logo from "@/components/Logo.astro";
---

<header id="header" class="header">
  <a href="/"><Logo class="my-2" /></a>
  <nav class="header__nav">
    <ul class="header__nav__ul">
      <!-- <li class="header__li"><a href="" class="btn a">Home</a></li> -->
      <li class="li"><a href="#experience" class="btn a">Experiencia</a></li>
      <li class="li"><a href="#proyects" class="btn a">Proyectos</a></li>
      <li class="li"><a href="#skills" class="btn a">Habilidades</a></li>
      <!-- <li class="li"><a href="" class="btn a">Blog</button></li> -->
    </ul>
  </nav>
</header>
<script is:inline>
  document.addEventListener("DOMContentLoaded", function(){
  window.addEventListener('scroll', function() {
      if (window.scrollY > 50) {
        document.getElementById('header').classList.add('header-down');
        document.getElementById('fondo').classList.add('fondo-down');
      } else {
        document.getElementById('header').classList.remove('header-down');
        document.getElementById('fondo').classList.remove('fondo-down');
      }
  });
});
</script>
