<header id="header" class="header">
  <h1 class="header__h1"><a href="#home" class="a">Rodrigo Aizpuru</a></h1>
  <nav class="header__nav">
    <ul class="header__nav__ul">
      <!-- <li class="header__li"><a href="" class="btn a">Home</a></li> -->
      <li class="li"><a href="#works" class="btn a">Works</a></li>
      <li class="li"><a href="#about" class="btn a">About me</a></li>
      <!-- <li class="li"><a href="" class="btn a">Blog</button></li> -->
    </ul>
  </nav>
</header>
