---
import Herobuttons from "@/components/Herobuttons.astro";
---
<section class="w-full h-lvh flex items-center justify-center" id="home">
  <div class="bg-white/50 backdrop-blur-sm max-w-screen-lg">
    <div class="xl:grid xl:grid-cols-3 p-4">
      <div class="flex flex-col items-center justify-center col-span-1">
        <img src="/me_avatar_low.webp" class="xl:size-40 size-14 rounded-full" alt="Yo">
      </div>
      <div class="topbanner__interior__contenido col-span-2">
        <h1 class="topbanner__h1"><span>Hola, soy</span> Rodrigo Aizpuru</h1>
        <h2 class="topbanner__h2">Diseñador gráfico | Desarrollador y diseñador Front-End | Animador Motion Graphics</h2>
        <p class="topbanner__p">Soy un profesionista con <strong>+15 años de experiencia</strong> en la creación de recursos digitales para universidades y empresas a nivel nacional e internacional. Vivo en México, ¡viva México!.</p>
      </div>
    </div>
    <article class="w-full flex justify-around my-4">
      <Herobuttons icono="bi:envelope-paper-heart" nombre="Contáctame" href="mailto:info@rodrigoaizpuru.com" />
      <Herobuttons icono="bi:linkedin" nombre="Linkedin" href="https://github.com/rodrigoaiz" />
      <Herobuttons icono="bi:github" nombre="Github" href="https://github.com/rodrigoaiz" />
    </article>
  </div>
</section>
