<section class="seccion topbanner" id="home">
  <div class="topbanner__interior bg-white/50 backdrop-blur-sm">
    <div class="topbanner__interior__contenido">
      <h1 class="topbanner__h1">Rodrigo Aizpuru</h1>
      <h2 class="topbanner__h2">Online Portfolio</h2>
      <p class="topbanner__p">Graphic Designer | Front-End Developer & Desinger | Motion Graphics</p>
    </div>
  </div>
</section>
