---
interface Props {
  class?: string
}
const { class: className } = Astro.props as Props
---

<div class={`${className} logo text-dark size-16 h-10 bg-yellow rounded-full flex items-center justify-center text-lightred font-ligh tracking-tight`}><span class="font-black">R</span>A</div>
