---
import { Icon } from "astro-icon/components";
---
<div class="redes backdrop-blur-sm bg-white/30 text" id="redes">
  <ul class="redes__ul ">
      <li class="redes__ul__li">
        <a href="https://www.linkedin.com/in/rodrigo-aizpuru/" target="_blank" class="redes__a">
          <Icon class="size-5 text-white" name="bi:linkedin" />
        </a>
      </li>
      <li class="redes__ul__li">
        <a href="https://github.com/rodrigoaiz" target="_blank" class="redes__a">
          <Icon class="size-5 text-white" name="bi:github" />
        </a>
      </li>
      <li class="redes__ul__li">
        <a href="mailto:info@rodrigoaizpuru.com" target="_blank" class="redes__a">
          <Icon class="size-5 text-white" name="bi:envelope-paper-heart" />
        </a>
      </li>
      <li>
        <a href="#" class="redes__a" id="cerrar-redes">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="redes__svg last" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.5 10a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 0 0 1h2A1.5 1.5 0 0 0 14 9.5v-8A1.5 1.5 0 0 0 12.5 0h-9A1.5 1.5 0 0 0 2 1.5v8A1.5 1.5 0 0 0 3.5 11h2a.5.5 0 0 0 0-1h-2z"/>
            <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z"/>
          </svg>
        </a>
      </li>
  </ul>
</div>
<script is:inline>
  document.addEventListener("DOMContentLoaded", function(){
    let cerrarRedes = document.getElementById('cerrar-redes');
    if(cerrarRedes){
      cerrarRedes.addEventListener('click', function(event){
        document.getElementById('redes').classList.toggle('quitar-redes');
        event.preventDefault();
      });
    }
  });
</script>
